<tr id="<%= "to_do_items-#{to_do_item.id}" %>">
  <td><%= to_do_item.description %></td>
  <td><%= distance_of_time_in_words(Time.now, to_do_item.created_at + 7.days) %></td>
  <td>
    <% if policy(to_do_item).destroy? %>
      <%= link_to 'Done', to_do_item, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }, remote: true %>
    <% end %>
  </td>
</tr>