<% if @to_do_item.destroyed? %>
  $('#to_do_items-' +<%= @to_do_item.id %>).hide("slow");
<% else %>
  $('#to_do_items-' +<%= @to_do_item.id %>).prepend("<div class='alert alert-error'><%= flash[:error] %></div>");
<% end %>