<h1>My To Do Items</h1>
</br>

<div class="col-md-2">
  <table width="600" cellpadding="1" cellspacing="1">
    <tr>
      <th></th>
      <th scope="col">Description</th>
      <th scope="col">Days left</th>
      <th scope="col">Complete</th>
    </tr>
    <% @to_do_items.each do |item| %>
      <tr>
        <th></th>
        <td><%= item.description %></td>
        <td><%= distance_of_time_in_words(Time.now, item.created_at + 7.days) %></td>
        <td>
        <% if policy(@to_do_item).destroy? %>
          <%= link_to 'Done!', item, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  </br>
  <% if policy(@to_do_item).create? %>
  <%= render partial: 'form', locals: { to_do_item: @to_do_item } %>
  <% end %>
</div>

